[Desktop Entry]
Type=Application
Version=1.0
Name=Welcome to ImagineOS
Exec=imagineos-welcome
Icon=imagineos
Terminal=false
Categories=System;
X-GNOME-Autostart-enabled=true
