[Desktop Entry]
Type=Application
Version=1.0
Name=Install ImagineOS
GenericName=System Installer
Comment=Install ImagineOS on this computer
Exec=/usr/local/bin/imagineos-installer
Icon=imagineos
Terminal=false
Categories=System;Settings;
StartupNotify=true
