set default=0
set timeout=8
set gfxmode=auto
set gfxpayload=keep
insmod all_video
insmod gfxterm
insmod png
insmod font
if loadfont $prefix/fonts/unicode.pf2; then
  terminal_output gfxterm
fi
if [ -f $prefix/themes/imigane/theme.txt ]; then
  set theme=$prefix/themes/imigane/theme.txt
  export theme
fi

menuentry "Try or install ImiganeOS" --class imiganeos {
  linux /live/vmlinuz boot=live components quiet splash username=imigane hostname=imiganeos
  initrd /live/initrd.img
}

menuentry "ImiganeOS (safe graphics)" --class imiganeos {
  linux /live/vmlinuz boot=live components quiet splash nomodeset username=imigane hostname=imiganeos
  initrd /live/initrd.img
}

menuentry "Restart" {
  reboot
}

menuentry "Power off" {
  halt
}
